/* color scheme sourced from http://khroma.co/generator/ */
:root {
    --outer-space: #33393f;
    --bright-turquoise: #2aefcb;
    --gin: #e0eae4;
    --heliotrope: #e866ec;
  }
  
  
  html {
    /* set 1rem to 10px instead of native 16px to make it easier to calculate font-size values for the rest of the page (e.g. 1.6rem is 16px, 2.0rem is 20px, etc.) */
    font-size: 62.5%;
  }
  
  body {
    /* Sans Serif font stack is implemented to help select the best font for each type of computer operating system */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
    line-height: 1.5;
  }
  
  
  h1 {
    /* 4rem = 40px (4 * 10px) */
    font-size: 4rem;
  }
  
  h2 {
    font-size: 3.5rem;
  }
  
  h3 {
    font-size: 3rem;
  }
  
  h4 {
    font-size: 2.5rem;
  }
  
  h5 {
    font-size: 2rem;
  }
  
  h6 {
    font-size: 1.5rem;
  }
  
  
  header {
    padding: 1rem;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; */
    background-color: rgb(86, 138, 158);
    width: 100%;
  }

  footer {
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(86, 138, 158);
    width: 100%;
  }

  footer h4 {
    color: whitesmoke;
  }
  
  .page-title {
    padding: 1rem 1.2rem;
    font-size: 4.5rem;
    color: whitesmoke;
    text-align: center;
  }

  /* header nav ul{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      text-align: center;
  } */

  /* header nav ul li {
      font-size: 2rem;
      flex: 1 1 33%;
  } */

  .nav-text-style {
      color: whitesmoke;
      font-weight: bold;
      font-size: 2rem;
  }

  .nav-text-style:hover {
    color:goldenrod;
}

#upper-image {
    position: relative;
    text-align: center;
    color: white;
}

#smoke {
    width: 100%;
    max-height: 14rem;
    display: flex;
    margin-bottom: 5rem;
}

#subtitle {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    bottom: 20px;
    right: 16px;
    font-size: larger;
    padding: 1%;
    background-color: rgb(86, 138, 158);
}
  
main {
    margin-left: 2%;
}
  

  .section-header {
      text-align: left;
      padding-left: 1%;
      padding-right: 5%;
      margin-left: 10%;
      color: rgb(68, 57, 57);
  }

  .section-content {
      padding-left: 3rem;
      border-left: 0.5rem solid black;
  }

  #sam-photo {
      max-width: 30%;
  }
  
  .header-row {
      width: 100%;
      /* min-height: 100vh; */
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      text-align: center;   
  }

  .header-nav {
      height:100%;

      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between;
      /* margin: 1%; */
      /* background-color: red; */
      /* text-align: right;  */
  }

  .row {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;   
}

  .sub-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }

  .big-image {
      width: 100%;
      vertical-align: middle;
  }

  .small-image {
      width:100%;
      max-height: 20rem;
      vertical-align: middle;
      /* overflow-y: hidden; */
  }

  .column1, .column2 {
    margin-bottom: 20px;
  }

  .project-title {
    position: absolute;
    bottom: 0.5rem;
    left: 0%;
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: larger;
    padding: 1%;
    background-color: rgb(86, 138, 158);
    text-align: left;
}

  .big-project, .small-project {
      border: 0.5rem solid rgb(86, 138, 158);
      opacity: .5;
      position: relative;
      text-align: center;
      color: white;
  }

  .big-project:hover, .small-project:hover {
    opacity: 1;
}


  .me-link-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  .me-link-text {
      display: block;
      text-align: center;
      font-weight: bold;
      color:rgb(123, 123, 197);
  }

  /* For mobile, make the nested screens collapse */
  @media screen {
    .me-link {
        flex: 1 1 100%;
        margin: 1%;
        padding: 1%;
    }

    .big-project {
        flex: 1 1 100%;
        margin: 0 1% 0 0;
    }
  
    .small-project {
        flex: 1 1 100%;
        margin: 1% 1% 0 0;
        align-self: center;
    }

    .column1 {
        flex: 1 1 100%;
        align-items: center;
    }
  
    .column2 {
        flex: 1 1 100%;
    }

    .left-header {
        flex: 1 1 100%;
    }

    .right-header {
        flex: 1 1 100%;
    }

    .nav-text {
      flex: 1 1 100%
    }

    /* header nav ul li {
      font-size: 2rem;
      flex: 1 1 100%;
    } */

  }

  @media screen and (min-width: 768px) {
    .me-link {
        flex: 1 1 15%;
        margin: 1%;
        padding: 1%;
    }

    .big-project {
        flex: 1 1 100%;
        margin: 0 1% 0 0;
    }
  
    .small-project {
        flex: 1 1 100%;
        margin: 1% 1% 0 0;
        align-self: center;
    }

    .column1 {
        flex: 1 1 20%;
    }
  
    .column2 {
        flex: 1 1 80%;
    }

    .left-header {
      flex: 1 1 50%;
    }

    .right-header {
      flex: 1 1 50%;
      text-align: right;
    }

    .nav-text {
      flex: 1 1 33%;
      text-align: center;
    }

    /* header nav ul li {
      font-size: 2rem;
      flex: 1 1 33%;
    } */

  }

  @media screen and (min-width: 992px) {
    .me-link {
        flex: 1 1 15%;
        margin: 1%;
        padding: 1%;
    }

    .big-project {
        flex: 1 1 100%;
        margin: 0 1% 0 0;
    }
  
    .small-project {
        flex: 1 1 45%;
        margin: 1% 1% 0 0;
        align-self: center;
    }

    .column1 {
        flex: 1 1 20%;
    }
  
    .column2 {
        flex: 1 1 80%;
    }

    .left-header {
      flex: 1 1 50%;
    }

    .right-header {
      flex: 1 1 50%;
      text-align: right;
    }

    .nav-text {
      flex: 1 1 33%;
      text-align: center;
    }

    /* header nav ul li {
      font-size: 2rem;
      flex: 1 1 33%;
    } */

  }

  
  /* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
  /* .card-column {
    flex: 1 0 100%;
    transition: flex-basis 500ms linear;
    border: 1rem solid blue;
  }
  
  using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design
  @media screen and (min-width: 768px) {
    .card-column {
      flex: 0 1 50%;
      max-width: 50%;
    }
  
    .card-column:last-child {
      flex-grow: 1;
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      width: 100%;
    }
  
    .card-column {
      flex: 1 0 50%;
    }
  }  */
  